<section style="background-color: black;">
    <div class="py-5">
        <h1 class="text-center my-5 text-warning">🛍️ CREATE PRODUCT 🛍️</h1>

        <form class="d-flex flex-column align-items-center text-warning">
            <div class="form-row">
                <div class="form-group">
                    <label for="inputTitle">Title</label>
                    <input type="text" class="form-control" id="inputTitle" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputCategory">Category</label>
                    <input type="text" class="form-control" id="inputCategory" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputDescription">Description</label>
                    <input type="text" class="form-control" id="inputDescription" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputPrice">Price</label>
                    <input type="number" class="form-control" id="inputPrice" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputThumbnail">URL image</label>
                    <input type="text" class="form-control" id="inputThumbnail" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputCode">Code</label>
                    <input type="text" class="form-control" id="inputCode" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputStock">Stock</label>
                    <input type="number" class="form-control" id="inputStock" placeholder="">
                </div>
                <button type="submit" id="btnSubmit" class="mt-4 btn btn-warning col-12">Create</button>
            </div>
        </form>

        <div class="d-flex justify-content-center mt-5">
            <button id="btnback" class="btn btn-warning">Return</button>
        </div>

    </div>
</section>

<script src="/js/createProduct.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.12/sweetalert2.all.min.js"></script>