<section style="background-color: black;">
    <div class="container py-5">
    <h4 class="text-center ps-3 my-5">Purchase made, congrats! <br> Check you mail for further information</h4>
    <div class="d-flex justify-content-center mt-5">
        <button id="btnback" class="btn btn-warning">Return</button>
    </div>
    </div>
</section>

<script src="/js/purchase.js"></script>